@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SequelSansHeavyHead";
  src: url("./assets/font/Sequel\ Sans\ TTF/Sequel\ Sans\ Heavy\ Head.ttf");
}

@font-face {
  font-family: "SequelSansBlackDisplay";
  src: url("./assets/font/Sequel\ Sans\ TTF/Sequel\ Sans\ Black\ Disp.ttf");
}

@font-face {
  font-family: "SequelSansLightHead";
  src: url("./assets/font/Sequel\ Sans\ TTF/Sequel\ Sans\ Light\ Head.ttf");
}

@font-face {
  font-family: "SequelSansBookBody";
  src: url("./assets/font/Sequel\ Sans\ TTF/Sequel\ Sans\ Book\ Body.ttf");
}

@font-face {
  font-family: "SequelSansBookDisplay";
  src: url("./assets/font/Sequel\ Sans\ TTF/Sequel\ Sans\ Book\ Disp.ttf");
}

@font-face {
  font-family: "SequelSansMediumHead";
  src: url("./assets/font/Sequel\ Sans\ TTF/Sequel\ Sans\ Medium\ Head.ttf");
}

h1 {
  font-family: "SequelSansBlackDisplay";
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  line-height: 1.2em;
}

h2 {
  font-family: "SequelSansHeavyHead";
  font-size: 2.5em;
  line-height: 1em;
  margin-bottom: 0.5em;
}

p {
  font-family: "SequelSansLightHead";
  font-size: 1.4em;
}

label {
  font-family: "SequelSansBookBody";
  font-size: 1.2em;
}

header {
  font-family: "SequelSansBookDisplay";
}

button {
  text-align: center;
  border-radius: 24px;
  background: #000000; /* Solid black color */
  color: white;
  font-family: "SequelSansMediumHead";
  padding: 0.7em 1em;
  font-size: x-large;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75); /* Similar shadow to button 3 */
  cursor: pointer;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  background-size: 300% 100%;
  border: none;
  background-image: linear-gradient(
    to right,
    #000000,
    #1a1a1a,
    #333333,
    #4d4d4d
  ); /* Shades of grey */
}

button:hover {
  background-position: 100% 0;
  moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  background-image: linear-gradient(
    to right,
    #4d4d4d,
    #333333,
    #1a1a1a,
    #000000
  ); /* Reversed shades of grey for hover effect */
}

button:active {
  background-image: linear-gradient(
    to right,
    #000000,
    #1a1a1a,
    #333333,
    #4d4d4d
  ); /* Shades of grey */
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  overflow-x: hidden;
}
@media screen and (width > 600px) {
  * {
    text-align: left;
  }
  h1 {
    font-size: 5em;
  }

  p {
    font-size: 1.8em;
  }
}

@keyframes wave {
  0% {
    transform: translateY(0px) scaleY(1);
  }

  50% {
    transform: translateY(-10px) scaleY(1.3);
  }
  100% {
    transform: translateY(0px) scaleY(1);
  }
}

@keyframes colorRotate {
  0% {
    filter: hue-rotate(0deg) brightness(1) saturate(1) contrast(1);
  }
  50% {
    filter: hue-rotate(360deg) brightness(1.2) saturate(1.2) contrast(1.2);
  }
  100% {
    filter: hue-rotate(0deg) brightness(1) saturate(1) contrast(1);
  }
}

.wave {
  animation: wave 30s infinite, colorRotate 20s infinite;
}

.colorRotate {
  animation: colorRotate 20s infinite;
}

.country {
  text-align: left;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.orbit {
  height: 280px;
  width: 280px;
  /* border: 1px solid #fff; */
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation: spin 10s infinite linear;
}
@keyframes spin {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

.rocket {
  border-radius: 50% 50% 0 0;
  position: relative;
  left: -10px;
  z-index: -1;
  top: 100px;
  animation: colorRotate 10s infinite;
  opacity: 0.6;
  opacity: 0.6;
  filter: drop-shadow(0 0 10px #fff);
}
.rocket-way {
  transition: all 0.3s;
}
.rocket-way:hover {
  transform: none;
}
@media screen and (width > 1200px) {
  .rocket-way:hover {
    transform: scale(1.01) !important;
  }
}
