@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SequelSansHeavyHead";
  src: url("./assets/font/Sequel\ Sans\ TTF/Sequel\ Sans\ Heavy\ Head.ttf");
}

* {
  font-family: "SequelSansHeavyHead";
}
